body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(255, 111, 0); /* Set background color to black */
  }
  
  #bubble-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .bubble {
    position: absolute;
    width: 90px; /* Set the width of the bubble image */
    height: 90px; /* Set the height of the bubble image */
    background-image: url('bubble.png'); /* Path to your bubble image */
    background-size: cover;
    animation: moveBubble linear;
  }
  
  @keyframes moveBubble {
    0% {
      transform: translateY(0) ; /* Start from bottom */
    }
    100% {
      transform: translateY(-120vh) ; /* End at top */
    }
  }
  