body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #87CEEB;
    overflow: hidden;
}

.title {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.description {
    font-size: 1.5em;
    color: white;
    text-align: center;
    width: 80%; 
    word-wrap: break-word;
}

.start-button {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.start-button:hover {
    background-color: darkblue;
}

.waves {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 100px;
    max-height: 160px;
}

.wave use {
    animation: moveForever 26s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes moveForever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.wave use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.wave use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.wave use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.wave use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}