/* Style the dropdown container */

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 35vh;
    width: 300px;
    background: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(85, 83, 83);
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: white; /* Add white background */
}

.logo {
    text-align: center;
    display: flex;
    align-items: center; /* Center logo vertically */
    margin: 10px 0;
}

.logo img {
    width: 30px; /* Adjust logo size */
    height: 30px; /* Adjust logo size */
    border-radius: 50%;
    margin-right: 10px; /* Add spacing between logo and text */
}

.logo span {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

nav .fas {
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}

.nav-item {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    background: #eee;
}

::-webkit-scrollbar {
    display: none;
}
